@model IEnumerable<GigHub.Core.ViewModels.ArtistViewModel>
@{
    ViewBag.Title = "Artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Artists I'm Following</h2>
<ul>

    @foreach (var artist in Model)
    {
        var x = artist.ArtistName.Split(' ').ToList().Take(2);
        <li class="artist-name-list">
         
                <div class="artist-name">
                    @foreach (var item in x)
                    {
                        <span>@item.ElementAt(0)</span>
                    }
                </div>
                <div class="artist-details">
                    <div class="artist-details-name">@artist.ArtistName</div>
                    <div style="letter-spacing:2px;">
                        @Html.ActionLink("See Composition", "GetCompositions", new { @id = artist.ArtistId })
                    </div>
                </div>           
        </li>        
    }

</ul>

